In [8]:
import mysql.connector
import random
import pandas as pd
from unicodedata import category

In [9]:
#mydb = mysql.connector.connect(
#    host = "127.0.0.1",
#    user = "root",
#    password = "seansean17",
#    database = "livs_drinks_db"
#)

mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",
    password = "seansean17",
    database = "testing01"
)

In [10]:
mycursor = mydb.cursor(buffered=True)

sql = "Select * from product"

mycursor.execute(sql)
r = mycursor.fetchall()

for x in r:
    print(x)

mycursor.close()

True

In [18]:
dfCompName = pd.read_csv("./companyNames.csv")
dfCountry = pd.read_csv("./countries.csv")

#selects a random row in a df
print(dfCompName.sample().to_string(buf=None,header=False,index=False))
#print(dfCountry.sample())

Kilback Inc

In [29]:
mycursor = mydb.cursor(buffered=True)

compname = dfCompName.sample().to_string(header=False,index=False)

print(compname)
    
sqlCheckComp = 'select productName from product where "'+compname+'" = productName'

print(sqlCheckComp)
mycursor.execute(sqlCheckComp)
r = str(mycursor.fetchone())

print(r)



#need to find out why running through a for loop makes it a string while it doesn't do it from the fetch
#for x in r:
#    print(x)
if r == compname:
    print("worked")
else:
    print("nope")

Moen, Bashirian and Steuber
select productName from product where "Moen, Bashirian and Steuber" = productName
None
nope

In [33]:
mycursor = mydb.cursor(buffered=True)

recordNum = 50
x = 0
while x < recordNum:
    compname = dfCompName.sample().to_string(header=False,index=False)
    cost = random.choice(range(10,200))
    country_origin = dfCountry.sample().to_string(header=False,index=False)
    category_type = random.choice(range(1,6))
    bottle_size = random.choice(range(1,6))
    
    print(compname)
    
    
    sqlCheckComp = 'select productName from product where "'+compname+'" = productName'
    mycursor.execute(sqlCheckComp)
    r = str(mycursor.fetchone())
    
    print(r)

    if r == compname:
        print("worked")
        sqlGetCountry = 'select countryOrgin from product where "'+r+'" = productName'  
        mycursor.execute(sqlGetCountry)
        c = str(mycursor.fetchone()[0])
        print(c)
        sqlinsert = "INSERT INTO product (productName, cost, countryOrgin, categoryID, sizeID) VALUES (%s, %s, %s, %s, %s)"
        val = (compname, cost, c, category_type, bottle_size)  
        mycursor.execute(sqlinsert, val)
        mydb.commit()
    else:
        #print("nope")    
        sqlinsert = "INSERT INTO product (productName, cost, countryOrgin, categoryID, sizeID) VALUES (%s, %s, %s, %s, %s)"
        val = (compname, cost, country_origin, category_type, bottle_size)
        print(val)
        mycursor.execute(sqlinsert, val)
        mydb.commit()
    
    x = 1+x

Huels LLC
('Huels LLC',)
('Huels LLC', 196, 'Greece', 2, 3)
Deckow, Stroman and Kertzmann
('Deckow, Stroman and Kertzmann',)
('Deckow, Stroman and Kertzmann', 186, 'Brunei', 2, 3)
Marquardt and Sons
None
('Marquardt and Sons', 106, 'France', 5, 1)
Bahringer Group
None
('Bahringer Group', 13, 'Panama', 5, 4)
Runte Hudson
None
('Runte Hudson', 131, 'Anguilla', 3, 5)
Bernhard Raynor
('Bernhard Raynor',)
('Bernhard Raynor', 181, 'Saint Vincent and the Grenadines', 5, 5)
Cummerata, Renner and Brown
('Cummerata, Renner and Brown',)
('Cummerata, Renner and Brown', 192, 'Zimbabwe', 2, 2)
Corwin, Windler and Donnelly
('Corwin, Windler and Donnelly',)
('Corwin, Windler and Donnelly', 19, 'Sierra Leone', 1, 5)
Greenholt Beahan
('Greenholt Beahan',)
('Greenholt Beahan', 95, 'Panama', 1, 5)
Labadie D'Amore
("Labadie D'Amore",)
("Labadie D'Amore", 144, 'Djibouti', 1, 3)
Lynch, Morar and Upton
('Lynch, Morar and Upton',)
('Lynch, Morar and Upton', 181, 'Maldives', 1, 2)
Kris, Yost and Hoeger
None
('Kris, Yost and Hoeger', 149, 'Cuba', 4, 3)
Blick, Fritsch and Price
('Blick, Fritsch and Price',)
('Blick, Fritsch and Price', 90, 'Turkmenistan', 3, 4)
Cummerata, Renner and Brown
('Cummerata, Renner and Brown',)
('Cummerata, Renner and Brown', 58, 'Mauritius', 4, 2)
Feeney Dare
None
('Feeney Dare', 33, 'Bouvet Island', 5, 3)
West Inc
('West Inc',)
('West Inc', 175, 'Eritrea', 4, 5)
Streich, Zulauf and Rodriguez
('Streich, Zulauf and Rodriguez',)
('Streich, Zulauf and Rodriguez', 99, 'Italy', 4, 2)
Kuhlman Bailey
('Kuhlman Bailey',)
('Kuhlman Bailey', 92, 'India', 5, 4)
Hilll Weissnat
('Hilll Weissnat',)
('Hilll Weissnat', 52, 'Indonesia', 2, 5)
Ebert, Will and Parisian
('Ebert, Will and Parisian',)
('Ebert, Will and Parisian', 181, 'British Indian Ocean Territory', 4, 3)
Ebert, Gleichner and Legros
('Ebert, Gleichner and Legros',)
('Ebert, Gleichner and Legros', 140, 'Burkina Faso', 4, 4)
McGlynn, Predovic and Waters
('McGlynn, Predovic and Waters',)
('McGlynn, Predovic and Waters', 23, 'Saint Kitts and Nevis', 3, 2)
O'Kon Kuphal
("O'Kon Kuphal",)
("O'Kon Kuphal", 135, 'Venezuela', 2, 1)
Beatty Stehr
('Beatty Stehr',)
('Beatty Stehr', 57, 'Albania', 4, 1)
Collins and Sons
('Collins and Sons',)
('Collins and Sons', 88, 'Qatar', 4, 4)
Schoen, Leffler and Schuster
('Schoen, Leffler and Schuster',)
('Schoen, Leffler and Schuster', 48, 'Lesotho', 1, 3)
Beatty Stehr
('Beatty Stehr',)
('Beatty Stehr', 14, 'Mexico', 1, 2)
Beatty Stehr
('Beatty Stehr',)
('Beatty Stehr', 15, 'Honduras', 4, 3)
Greenholt Beahan
('Greenholt Beahan',)
('Greenholt Beahan', 105, 'Qatar', 4, 1)
Rodriguez Inc
('Rodriguez Inc',)
('Rodriguez Inc', 71, 'Dominican Republic', 2, 1)
Bahringer Group
('Bahringer Group',)
('Bahringer Group', 50, 'Mayotte', 4, 4)
Bernhard Raynor
('Bernhard Raynor',)
('Bernhard Raynor', 123, 'Vanuatu', 4, 1)
Kuhlman Bailey
('Kuhlman Bailey',)
('Kuhlman Bailey', 20, 'Finland', 1, 1)
Stamm LLC
('Stamm LLC',)
('Stamm LLC', 119, 'Hungary', 5, 1)
O'Reilly Gulgowski
("O'Reilly Gulgowski",)
("O'Reilly Gulgowski", 61, 'Mayotte', 3, 1)
Beatty Stehr
('Beatty Stehr',)
('Beatty Stehr', 184, 'Comoros', 4, 1)
Beer Dach
('Beer Dach',)
('Beer Dach', 57, 'British Virgin Islands', 2, 2)
Labadie D'Amore
("Labadie D'Amore",)
("Labadie D'Amore", 122, 'Finland', 3, 3)
Mayer, Harber and Mayer
('Mayer, Harber and Mayer',)
('Mayer, Harber and Mayer', 180, 'Eritrea', 3, 5)
Stamm, Bins and Gleason
('Stamm, Bins and Gleason',)
('Stamm, Bins and Gleason', 146, 'Morocco', 2, 4)
Nader Grant
('Nader Grant',)
('Nader Grant', 90, 'United States', 1, 1)
Emmerich Bode
None
('Emmerich Bode', 41, 'El Salvador', 2, 5)
Stark LLC
('Stark LLC',)
('Stark LLC', 53, 'Iceland', 3, 2)
Cronin, Becker and Carter
('Cronin, Becker and Carter',)
('Cronin, Becker and Carter', 47, 'Kyrgyzstan', 2, 5)
Kutch, Hirthe and Kirlin
None
('Kutch, Hirthe and Kirlin', 44, 'Montenegro', 3, 3)
Hegmann, Bogan and Runte
('Hegmann, Bogan and Runte',)
('Hegmann, Bogan and Runte', 143, 'Kazakhstan', 5, 1)
Dietrich, Beer and Runolfsson
None
('Dietrich, Beer and Runolfsson', 109, 'Hong Kong', 1, 4)
O'Kon Kuphal
("O'Kon Kuphal",)
("O'Kon Kuphal", 16, 'Burkina Faso', 5, 3)
Batz, Hudson and Schulist
('Batz, Hudson and Schulist',)
('Batz, Hudson and Schulist', 55, 'Samoa', 5, 3)
Runte Hudson
('Runte Hudson',)
('Runte Hudson', 77, 'Germany', 2, 2)