In [9]:
import mysql.connector
import random

In [2]:
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",
    password = "seansean17",
    database = "livs_drinks_db"
)

In [7]:
mycursor = mydb.cursor()

sql = "Select * from product"

mycursor.execute(sql)
r = mycursor.fetchall()

for x in r:
    print(x)

#mycursor.close()

(1, 'Haku Vodka', 55.0, 'Japan', 1, 3)
(2, 'Jameson', 55.0, 'Ireland', 5, 3)
(3, 'Johnny Walker', 50.0, 'Scotland', 2, 6)
(4, 'Black Gin', 100.0, 'New Zealand', 3, 6)
(5, 'Cafe Patron', 75.0, 'Mexico', 4, 2)
(6, 'Haku Vodka', 50.0, 'Japan', 1, 3)
(7, 'Jameson', 55.0, 'Ireland', 5, 3)
(8, 'Johnny Walker', 50.0, 'Scotland', 2, 6)
(9, 'Black Gin', 100.0, 'New Zealand', 3, 6)
(10, 'Cafe Patron', 75.0, 'Mexico', 4, 2)
(11, 'Big Tingz', 50.0, 'Australia', 1, 3)

In [81]:
#mycursor = mydb.cursor()

sql = 'insert into alcoholCategory (category) values ("Bourbon");'
#val = ("Bourbon")
print(sql)

mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount, "Record added")

insert into alcoholCategory (category) values ("Bourbon");
1 Record added

In [26]:
names = ("Big Tingz", "Someone new", "Top Boy", "Another name", "Another drunk idiot")
countrys = ("Australia", "New Zealand", "England", "Germany", "Japan", "America")

recordNum = 10
x = 0
while x < recordNum:
    sql = "INSERT INTO product (productName, cost, countryOrgin, categoryID, sizeID) VALUES (%s, %s, %s, %s, %s)"
    val = (random.choice(names), random.choice(range(10,200)) ,random.choice(countrys), random.choice(range(1,5)), random.choice(range(1,6)))
    print(val)

    mycursor.execute(sql, val)
    mydb.commit()
    x = 1+x

('Another name', 64, 'Australia', 4, 3)
('Someone new', 89, 'America', 3, 4)
('Big Tingz', 58, 'New Zealand', 4, 4)
('Big Tingz', 81, 'Germany', 2, 5)
('Someone new', 123, 'England', 3, 3)
('Top Boy', 119, 'Australia', 1, 1)
('Top Boy', 115, 'Australia', 4, 3)
('Another name', 119, 'Australia', 3, 2)
('Another drunk idiot', 86, 'America', 1, 3)
('Another drunk idiot', 123, 'America', 2, 4)